
.main{
  display:flex;
  background-color: rgba(171, 224, 255, 0.925);
  min-height: 100vh;
  flex-flow:column;
}

.content{
  font-family:sans-serif;
  display:flex;
  flex-flow:column;
}

.imagen_holder{
  display: flex;
  height: 100vh;
  position: relative;
  flex-flow: row;
  align-content:center;
  align-items: center;
  background-color: rgb(66, 66, 66);
}

.presentacion{
  margin:30px;
  font-size: 20px;
  color:rgb(209, 209, 209);
  font-family:sans-serif;
}

.presentacion2{
  margin:30px;
  font-size: 20px;
  color:rgb(0, 0, 0);
  font-family:sans-serif;
}

.hud{
  display:flex;
  flex-direction: column-reverse;
  height: 100px;
  width: 100%;
  flex-flow:row;
  background-color: rgb(46, 62, 146);
  align-items: center;
  position: fixed;
  z-index: 999;
}



.item_hud{
  transition: font-size 0.5s;
  transition-delay: 0.2s;
  margin-left: 10px;
  margin-right: 10px;
  border: none;
  background: none;
  cursor: pointer;
  text-align: center;
  flex-grow:0.1;
  color:rgb(202, 202, 202);
  width: 5px;
  height: 20px;
  font-size: 20px;
  font-family:sans-serif;
}

@media (max-width: 400px){
  .item_hud{
    margin-left: 10px;
    margin-right: 10px;
    border: none;
    background: none;
    cursor: pointer;
    text-align: center;
    flex-grow:0.2;
    color:red;
    width: 5px;
    height: 20px;
    font-size: 15px;
    font-family:sans-serif;
  }

}



.item_hud:hover {
  color:white;
  font-size: 25px;
}

.proyectos_button{
  box-sizing: border-box;
  position: relative;
  display: block;
  width: 22px;
  height: 22px;
  border: 2px ;
  border-radius: 100px
}



.proyectos_parrafo{
  
}



.gg-chevron-down-o {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs,1));
  width: 22px;
  height: 22px;
  border: 2px solid;
  border-radius: 100px
}
.gg-chevron-down-o::after {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 6px;
  height: 6px;
  border-bottom: 2px solid;
  border-right: 2px solid;
  transform: rotate(45deg);
  left: 6px;
  top: 5px
}

.image_container {
  opacity: 0;
  transition: opacity 0.75s;
}
.image_container.loaded {
  opacity: 1;
}




.rotate_right {
  transition: transform 0.5s ease-in-out;
  transform: rotate(180deg);
}

.rotate_right.rotate_active {
  transform: rotate(180deg);
}

.rotate_left {
  transition: transform 0.5s ease-in-out;
  transform: rotate(180deg);
}

.rotate_left.rotate_active {
  transform: rotate(180deg);
}